[submodule "External/torch-mlir"]
	path = External/torch-mlir
	url = https://github.com/llvm/torch-mlir.git
[submodule "External/llvm-project"]
	path = External/llvm-project
	url = https://github.com/llvm/llvm-project.git
